#pesquisa{
    max-width: 1440px;
    color: var(--whitePiano);
    margin: auto;
    padding: 2rem;
}

.equipe h2{
    font-family: var(--fontFamilyTitle);
    font-size: var(--fontSubTitle);
    font-weight: 400;

}
.equipe__doutorandos{
    display: flex;
    justify-content: space-evenly;
}

.doutorando{
    border: 1px solid var(--accent);
    width: 45%;
    padding: 1rem;

    display: flex;
    gap: 20px   ;
}

.doutorando h3{
    text-align: justify;
    font-family: var(--fontFamilyTitle);
    font-size: 1.5rem;
    font-weight: 400;
}
.doutorando p{
    color: var(--whitePiano);
    font-family: var(--fontFamilycontent);
    font-size: 1.125rem;
    font-weight: 400;
    text-align: justify;
}

.doutorando__img{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;

}
.doutorado__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.doutorado__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.doutorado__icons a {
    display: flex;
    align-items: center;
    color: var(--whitePiano);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/* DOCUMENTOS */

.documentos{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.documentos__buttons{
    display: flex;
    gap: 20px;
    padding: 4rem;
}

.documentos__buttons button{
    background: none;
    outline: none;
    border: none;

    color: var(--whitePiano);

    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 2rem;
}

#documentosBNT-active{
    color: var(--accent);
}


.documentos__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.documento{
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 90px;
    gap: 30px;
    align-items: center;
    text-align: center;
}
.documento p{
    width: 60%;
}
.documento__span{
    width: 20%;
}

.documento > a{
    width: 20%;
    text-decoration: none;
    color: var(--accent);
}



.hline-pesquisa{
    background-color: var(--accent);
    width: 80%;
    height: 2px;
    margin: 2rem;
}


.documentos__container-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.documento-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    text-align: center;
    gap: 20px;

    padding: 1rem;
    border: 1px solid var(--accent);
    font-family: 'roboto'   
}

.documento-card > a{
    color: var(--accent);
    text-decoration: none;
}


/* ---------- */


@media only screen and (max-width: 768px) {


    main#pesquisa{
        width: 100%;
        padding:0;
    }

    main#pesquisa *{
        text-align: center;

    }
    .equipe__doutorandos{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .doutorando{
        flex-direction: column;
        width: 80%;
    }
    .equipe h2{
        width: 80%;
        margin: auto;
    }
    .doutorado__content{
        gap: 10px;
    }

    .documentos__buttons{
        /* display: none; */

        font-size: 10px;
        flex-direction: column;
        border: 1px solid var(--whitePiano);
        padding: 0;
        margin-bottom: 2rem;
    }
    .documentos__buttons > button{
        margin: 0;
        padding: 1rem;
    }
    .documento{
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .documento__span{
        width: 100%;
    }

    .documento-card{
        width: 35%;
    }


}
